body {
    background: rgb(204, 204, 204, 1);
}

.ventana {
    background: rgb(255, 253, 253);
    width: 30%;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
    padding: 40px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    left: 15%;
    top: 15%;
    display: none;
    border-color: rgb(3, 253, 253);
    border-width: 2px;
    border-style: solid;
}

#cerrar {
    position: absolute;
    right: 300px;
    top: 690px;
}

.ventana label {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.ventana input[type="submit"] {
    border: none;
    outline: none;
    height: 39px;
    background: #1dca51;
    color: #fff;
    font-size: 18px;
    border-radius: 20%;
}

.ventana input[type="submit"]:hover {
    cursor: pointer;
    background: #1c415f;
    color: #000;
}

.ventana a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.ventana a:hover {
    color: #fff;
}